In [1]:
a= 15
b= 10
sum = a+b
difference = a-b
product = a*b
division = a/b
print("Sum:", sum)
print("difference: ", difference)
print("product:", product)
print("division: ", division)

Sum: 25
difference:  5
product: 150
division:  1.5

In [2]:
print(f"The sum of the two numbers {a},{b} is {sum} ")

The sum of the two numbers 15,10 is 25

In [3]:
x = 15//2
print(x)
y = 15%2
print(y)

7
1

In [5]:
# Boolean variables and comparisons
x=12
y=8
is_greater = x>y
is_equal = x==y
is_not_equal = x !=y
print("Is x greater than y?", is_greater)
print("Is x equal y?" , is_equal)
print("Is x not equal to y?", is_not_equal)

Is x greater than y? True
Is x equal y? False
Is x not equal to y? True

In [12]:
# Variable assignment
name = "Khadija"
age= 26
is_student = True

print(f"{name}'s'age is {age}. She is a Student is {is_student}")

Khadija's'age is 26. She is a Student is True

In [17]:
# Defining and using a function
def greet(name):
    return "Hello, " + name + "!"
greet("Khadija")

'Hello, Khadija!'

In [20]:
# Defining and using a function
def greet(name):
    return "Hello, " + name + "!"
my_name = input("Enter your name:")
greet(my_name)

Enter your name: Khadija

'Hello, Khadija!'

In [26]:
def add_numbers(a,b):
    return a+b
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))

addition_value = add_numbers(a,b)
print(f"The result of addition for {a}, {b} is {addition_value}")

Enter first number: 3
Enter second number: 23

The result of addition for 3, 23 is 26

In [29]:
#Working with strings
message = "Hello, World"
length = len(message)
uppercase = message.upper()
lowercase = message.lower()
substring = message[0:5]
print("Original message:", message)
print("The length is:", length)
print("Upper case:", uppercase)
print("Lower case:", lowercase)
print("Part of the message is :", substring)

Original message: Hello, World
The length is: 12
Upper case: HELLO, WORLD
Lower case: hello, world
Part of the message is : Hello

In [32]:
# basic input example
Last= input("Enter the last name, last name:")
First = input("Enter the first name, first name:")
print(f"{Last},{First}")

Enter the last name, last name: Kobra
Enter the first name, first name: Khadijatul

Kobra,Khadijatul

In [33]:
#Numeric input examples
age = int(input("Enter your age:"))
print("You will be", age+1, "years old next year.")

Enter your age: 26

You will be 27 years old next year.

In [35]:
# calculations with input
num1 =float(input("Enter a number:"))
num2 =float(input("Enter another number:"))
sum_result = num1 + num2
print("Sum: ", sum_result)

Enter a number: 15.6
Enter another number: 23.7

Sum:  39.3

In [36]:
# String concatenation with input
city = input("Enter your city:")
country = input("Enter your country:")
location = city+ ","+country
print("You are in:", location)

Enter your city: East Haven
Enter your country: USA

You are in: East Haven,USA

In [40]:
# Multiple inputs
name,age = input("Enter your name and age separated by comma:").split()
print(f"My name is {name} and my age is {age}")

Enter your name and age separated by comma: Khadija, 26

My name is Khadija, and my age is 26